name: Deployment

on:
  workflow_call:
    inputs:
      environment:
        type: string
        required: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ secrets.AWS_REGION }}
          audience: sts.amazonaws.com

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ vars.TERRAFORM_VERSION }}

      - name: Initialize Terraform
        run: terraform init -backend-config=backends/${{ inputs.environment }}-backend.hcl
        working-directory: ./src

      - name: Select Terraform workspace
        run: terraform workspace select ${{ inputs.environment }}
        working-directory: ./src

      - name: Apply Terraform
        run: terraform apply -auto-approve
        working-directory: ./src
