name: Production CI

on:
  pull_request:
    branches:
      - production

permissions:
  id-token: write
  contents: read
  pull-requests: write

jobs:
  deploy:
    uses: ./.github/workflows/ci.yaml
    with:
      environment: prod
    secrets: inherit
